# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore local environment variables
.env

# Ignore other unnecessary files and directories
.git/
.gitignore
.DS_Store
*.log
