{% extends 'api_tests/base.html' %}

{% block title %}Test Form{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Test Form</h1>
    <form method="post" action="{% url 'parse_and_test' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="swagger_url">Swagger URL</label>
            <input type="url" class="form-control" id="swagger_url" name="swagger_url" placeholder="Enter Swagger URL" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
{% endblock %}