apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
data:
  POSTGRES_DB: {{ .Values.postgres.config.database | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
data:
  POSTGRES_HOST: "{{ .Values.postgres.name }}.{{ .Values.namespace }}.svc.cluster.local"
  POSTGRES_PORT: {{ .Values.postgres.service.port | quote }}
  KAFKA_BOOTSTRAP_SERVERS: "{{ .Values.kafka.name }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.kafka.service.port }}"
