apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-topic-init
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  ttlSecondsAfterFinished: 100
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: kafka-topic-init
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kafka-topic-creator
        image: "{{ .Values.kafka.image.repository }}:{{ .Values.kafka.image.tag }}"
        command:
          - sh
          - -c
          - |
            /opt/kafka/bin/kafka-topics.sh --create \
              --bootstrap-server {{ .Values.kafka.name }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.kafka.service.port }} \
              --topic test_run_queue \
              --partitions 3 \
              --replication-factor 1 \
              --if-not-exists
            
            /opt/kafka/bin/kafka-topics.sh --list \
              --bootstrap-server {{ .Values.kafka.name }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.kafka.service.port }}
