# Default values for testops-publisher

namespace: testops

# Global image settings
image:
  pullPolicy: Always

# Django Application
djangoApp:
  enabled: true
  name: testops-publisher
  replicaCount: 1
  image:
    repository: vanlahuynhduc/ai-testops
    tag: "2afe793"
  service:
    type: ClusterIP
    port: 8000
  resources:
    requests:
      memory: "512Mi"
      cpu: "100m"
    limits:
      memory: "1Gi"
      cpu: "200m"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80

# External dependencies (deployed by testops-infra)
postgres:
  name: postgres
  service:
    port: 5432

kafka:
  name: kafka
  service:
    port: 9092

# Ingress
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
  hosts:
    - host: testops.thduc.tech
      paths:
        - path: /
          pathType: Prefix
          service: testops-publisher
          port: 8000
  tls: []
